/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    font-size: 1.5rem;
}

li{
    margin-left: 0;
    margin-bottom: 30px;
    line-height: 30px;
}

body{
    background-color: rgb(183, 212, 225);
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header {
    line-height: 120px;
    background-color: white;
}

.logo {
    height: 100px;
    vertical-align: middle;
    padding-left: 50px;
}

.main-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 4rem;
}

/* CONTAINER */

.container{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
}


.button-back{
    background-color: white;
    padding: 20px 80px;
    border-bottom: 4px solid rgb(183, 212, 225);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.button-size{
    font-size: 1.3rem;
    padding: 10px 15px;
    border-radius: 10px;
}

.button-task{
    background-color: rgb(0, 157, 255);
    color: white;
    border: 1px solid  rgb(0, 157, 255);
}

.button-section{
    background-color: white;
    color: rgb(154, 151, 151);
    border: 1px solid  rgb(154, 151, 151);
}

.size-list{
    background-color: white;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 1px;
    border-top-color: rgb(0, 157, 255);
}

h2{
    color: black;
    font-size: 2rem;
    margin-bottom: 10px;

}

.arrows{
    font-size: 1rem;
}

.border-check{
    color: rgb(111, 167, 26);
    font-size: 0.7rem;
    padding: 8px;
    border: 2px solid rgb(111, 167, 26);
    border-radius: 50%;
    vertical-align: middle;
}

.border-x{
    color: red;
    font-size: 0.7rem;
    padding: 8px;
    border: 2px solid red;
    border-radius: 50%;
    vertical-align: middle;

}

.badge-size{
    color: white;
    font-size: 1rem;
    padding: 10px 10px;
    border-radius: 16px;
    vertical-align: middle;

}

.badge-blue{
    background-color: rgb(0, 157, 255);
}

.badge-violet{
    background-color: violet;
}

.badge-green{
    background-color: green;
}

.badge-orange{
    background-color: orange;
}

.badge-purple{
    background-color: purple;
}

.badge-greenyellow{
    background-color: greenyellow;
}

.list-end{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 30px;
}